
/*LOGIN i REGISTER*/
.error{
    color: red;
}
/*Inbox*/
.sender{
    font-size: 22px;
    font-weight: bold;
}
.newmessages{
    width: 540px;
    height: all;
    border-right: 2px black solid;
    display: inline-block;
    
}
.readmessages{
    
    width: 600px;
    float: right;
    display: inline-block;
    
}

/*INDEX*/
.index {
    margin-left: 700px;
    margin-top: 100px;
}
/*LOGIN*/
.login{
    margin-left: 700px;
    margin-top: 100px;
}
/*REGISTER*/
.register{
    margin-left: 700px;
    margin-top: 100px;
}
/*MESSAGESENDER*/
.message {
    margin-left: 200px;
    margin-right: 300px;
}
#messageText{
    width: 600px;
    height: 100px;
}
/*USEREVIEW*/
#sendMes {
    border: yellow 2px solid;
    padding: 2px;
}
/*MAIN*/
#deletebutton{
    background-color: red;
    
}
.panel{
    width: 20%;
    position: fixed;
    top: 0;
    float: left;
}

.posty {
    margin-left: 200px;
    margin-right: 400px;
}

#text{
    width: 500px;
    height: 120px;
    margin-right: 400px;
    
}
#text2 {
    width: 300px;
    height: 16px;
}
.all{
    background-color: #38e038;
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 300px;
    width: 500px;
    border-left: 2px black solid;
    border-right: 2px black solid;
}
.tweets {
    word-wrap: break-word;
    margin-left: 100px;
    margin-right: 150px;
}

.comment{
    margin-left: 100px;
    
}
.comtext {
    
    margin-left: 100px;
    border-bottom: 1px silver solid;
}
/*Span tweet text*/

.text1{
    font-size: 24px;
    font-weight: bold;
}
.text2 {
    font-size: 14px;
}
.text3{
    font-size: 18px;
}
